.cantact-me{
    width: 100%;
    background:#101010 ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
   
 
  
 
}
.cantact-me p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    
    


}
.cantact-me .button-two{
    background-color:#f9004d;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    margin-left: 45%;
    border-radius:30px;
    transition: .4s;
    margin-top: 50px;
   
    margin-left: 20px;
   
}
.cantact-me  .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.social{
    display: flex;
}
.social .i{
  width:45px;
  height:45px ;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}.social .i:hover{
    transform: scale(1.5);
    transition: .3s;
}
.cantact-me  .end{
    color:#f9004d;
    font-size:14px ;
}